*
  box-sizing: border-box
body
  font-family: 'Roboto', sans-serif
.container
  width: 1140px
  margin: auto
.button
  width: 164px
  height: 45px
  color: $btn-other
  background-color: $btn-main
  border-radius:  22.5px
  outline: none
  border: none
  &:hover
    cursor: pointer
    background-color: $btn-hover
.section
  padding: 40px 0px
  &-title
    font-size: 24px
    font-weight: 400
    color: $text-main
    text-align: center
.input
  width: 221px
  height: 45px
  border: 1px solid rgba(0, 0, 0, 0.05)
  border-radius: 27.5px
  background-color: #ffffff
.mobile
  &_on
    display: none
  

@media (max-width: 1200px)
  .container
    width: 970px
  .input
    width: 180px
   
@media (max-width: 992px)
  .container
    width: 760px
  .button
    &:hover
      cursor: default 
      background-color: $btn-main



@media (max-width: 768px)
  .container
    width: 560px
  .mobile
    &_on
      display: block
    &_off
      display: none



@media (max-width: 576px)
  .container
    width: 320px
    
  
    
    