*
  box-sizing: border-box
body
  font-family: 'Roboto', sans-serif
 
.container
  width: 1140px
  margin: auto
.button
  width: 164px
  height: 45px
  color: $btn-other
  background-color: $btn-main
  border-radius:  22.5px
  outline: none
  border: none
  aria-haspopup: true
  &:hover
    cursor: pointer
    background-color: $btn-hover
.section
  padding: 40px 0px
  &-title
    font-size: 24px
    font-weight: 400
    color: $text-main
    text-align: center
.input
  outline: none
  width: 221px
  height: 45px
  border: 1px solid rgba(0, 0, 0, 0.05)
  border-radius: 27.5px
  background-color: #ffffff
.mobile
  &_on
    display: none
.btnUp
  display: inline-block
  position: fixed
  width: 54px
  height: 55px
  right: 10px
  bottom: 10px
  text-align: center
  padding: 20px 0
  background: $text-other
  border-radius: 6px  
  opacity: 0.5
.error
  display: inline-block
.thank
  text-align: center
  &Btn
  margin: auto
@media (max-width: 1200px)
  .container
    width: 970px
  .input
    width: 180px
   
@media (max-width: 992px)
  .container
    width: 752px
  
  .input
    width: 150px
@media (hover: none) 
  .button
    &:hover  
      cursor: pointer
     
    

@media (max-width: 768px)
  .container
    width: 560px
  .mobile
    &_on
      display: block
    &_off
      display: none
 



@media (max-width: 576px)
  .container
    width: 320px
    padding: 0 15px
  .input
    width: 230px
    height: 41px
    
    
  
    
    