.about
  &-block
    display: flex
  &__image
    margin-right: 20px
  &__title
    font-size: 24px
    font-weight: 400
  &__text
    font-size: 15px
    font-weight: 300
    line-height: 25px
    text-align: justify
  &__subtitle
    font-size: 24px
    font-weight: 400
  &__img 
    border: 1px solid $border-slick
    padding: 5px