.map
  &__title
    font-size: 24px
    font-weight: 400
  &__text
    font-size: 15px
    font-weight: 300
    line-height: 25px
  &__subtitle
    font-size: 20px
    font-weight: 400
  &-block
    display: flex
    justify-content: flex-start
    align-items: center
  &__map
    max-width: 750px
    height: 410px
    margin-right: 28px
  &Contacts
    &__item
      display: flex
    &__image
      margin-right: 10px
    &__text
      width: 270px
    &__title
      font-size: 14px
      font-weight: 500
    &__detail
      font-size: 14px
      font-weight: 300
.contacts
  &__form
    display: flex
  &__input
    margin-left: 10px

.n
  font-size: 30px
.leftInput, .rightInput
  display: flex
  flex-direction: column