.footer
  background: $bgc-works
  padding-top: 27px
  border-top: 1px solid $line-footer
  &__end
    padding-top: 38px
    padding-bottom: 11px
    text-align: center
    &line
      font-size: 13px
      font-weight: 300
      color: $text-main
  &__contacts
    display: flex
    justify-content: space-between
    height: 128px
    border-bottom: 1px solid $line-footer
  &__item
    flex-basis: 33%
    display: flex
    max-width: 290px 
  &__text
    max-width: 250px
  &__title
    font-size: 14px
    font-weight: 400
    line-height: 20px
  &__detail
    font-size: 14px
    font-weight: 300
    line-height: 20px