.info
  padding-top: 44px
  padding-bottom: 20px
  &-block
    display: flex
    justify-content: space-around
  &__card
    outline: none
    width: 263px
    height: 385px
    background-color: $bgc-info
    text-align: center
    padding: 41px 24px 45px 24px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
  &__box
    display: flex
    flex-direction: column
    justify-content: flex-start
  &__image
    height: 50px
  &__img
    margin: auto
    height: 100%
  &__title
    width: 185px
    position: relative
    font-size: 18px
    font-weight: 700
    line-height: 33px
    color: $text-other
    margin: 0px auto 0px auto
    &:before
      position: absolute
      content: ''
      width: 106px
      bottom: -8px
      left: 50%
      margin-left: -53px
      border-bottom: 1px solid $text-other
  &__text
    font-size: 14px
    font-weight: 300
    line-height: 18px
    text-align: justify
  &__btn
    margin: auto
    font-size: 14px
    font-weight: 500
  &__arrow
    display: none

@media (max-width: 1200px)
  .info
    padding-top: 25px
    &-block
      flex-wrap: wrap
      padding: 0 200px
    &__card
      &:nth-child(odd)
        margin-right: 30px
      &:nth-child(-n+2)  
        margin-bottom: 25px

@media (max-width: 992px)
  .info
    &-block
      padding: 0px 100px
    &__card
      &:nth-child(odd)
        margin-right: 25px

@media (max-width: 768px)
  .info
    &-block
      padding: 0 
    &__card
      &:nth-child(odd)
        margin-right: 0px
      &:nth-child(-n+2)  
        margin-bottom: 15px
  
@media (max-width: 576px)
  .info
    position: relative
    &__card
      width: 263px
    &-block  
      padding: 0 13px
    &__arrow
      display: flex
      position: absolute
      top: 42%
      justify-content: space-between
      padding: 0 6px
      width: 56.5%
    &__btn
      margin-top: 10px      
    &__leftArrow
      background: $btn-main
      border: 7px solid $btn-main
      border-radius: 4px
    &__rightArrow
     
      background: $btn-main
      border: 7px solid $btn-main
      border-radius: 4px
