.info
  padding-top: 44px
  padding-bottom: 20px
  &-block
    display: flex
    justify-content: space-around
  &__card
    width: 263px
    height: 385px
    background-color: $bgc-info
    text-align: center
    padding: 41px 24px 45px 24px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
  &__img
    margin: auto
  &__title
    width: 185px
    position: relative
    font-size: 18px
    font-weight: 700
    line-height: 33px
    color: $text-other
    margin: 0px auto 0px auto
    &:before
      position: absolute
      content: ''
      width: 106px
      bottom: -8px
      left: 50%
      margin-left: -53px
      border-bottom: 1px solid $text-other
  &__text
    font-size: 14px
    font-weight: 300
    line-height: 18px
    text-align: justify
  &__btn
    margin: auto
    font-size: 14px
    font-weight: 500

@media (max-width: 1200px)
  .info
    padding-top: 25px
    &-block
      flex-wrap: wrap
    &__card
      &:nth-child(odd)
        margin-right: 93px
      &:nth-child(-n+2)  
        margin-bottom: 25px

    
    
