.works
  padding-top: 24px
  padding-bottom: 28px
  background: $bgc-works
  &__title
    margin-bottom: 20px
  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    color: $btn-main
    padding-left: 18px
  &__item
    flex-basis: 47%
    margin-bottom: 8px
    &:nth-child(odd)
      margin-right: 5px
  &__text
    font-size: 16px
    font-weight: 400
    line-height: 25px
    color: $text-last

@media (max-width: 1200px)
  .works
    padding-top: 5px
    padding-bottom: 5px
    &__text
      font-size: 13px
      font-weight: 400
      line-height: 20px

@media (max-width: 992px)
  .works
    &__list
      flex-direction: column
      justify-content: center
      align-items: center