.works
  background: $bgc-works
  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    color: $btn-main
  &__item
    flex-basis: 50%
    margin-bottom: 9px
  &__text
    font-size: 16px
    font-weight: 400
    line-height: 25px
    color: $text-last
